{% extends 'main_app_templates/home_page.html' %}
{% block content %}
    <div class="container user_container">
         <form method="POST">{% csrf_token %}


				    <div class="form-group input-group">
				    	<div class="d-flex flex-column" style="width:100%;">

					    	<div class="d-flex flex-row">
						        <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
					        </div>
				    	</div>
				    </div> <!-- form-group// -->


				    <div class="form-group input-group">
				    	<div class="d-flex flex-column" style="width:100%;">

					    	<div class="d-flex flex-row">
						        <input name="password" class="form-control" placeholder="Password" type="password" required="true" id="password">
					    	</div>
				        </div>
				    </div> <!-- form-group// -->
						{% for field in login_form %}
						   <p>
								{% for error in field.errors %}
									<p style="color: red">{{ error }}</p>
								{% endfor %}
							</p>
						{% endfor %}
							{% if login_form.non_field_errors %}
								<div style="color: red">
								  <p>{{login_form.non_field_errors}}</p>
								</div>
							{% endif %}
				    <div class="form-group">
						<div class="d-flex justify-content-center flex-column">
							<button type="submit" class="btn btn-primary waves-effect waves-light">LOGIN</button>
							<a href="{% url 'registration' %}" class="btn btn-link waves-effect waves-light">Register</a>
						</div>
					</div>
				</form>
    </div>
{% endblock content %}
